* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

.intro-chunk {
  padding: 96px 0;
  max-width: 400px;
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk .title {
  font-size: 2rem;
  margin-bottom: 32px;
}

header {
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  padding: 96px 0;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
  padding: 24px;
  margin: -24px;
}

.indented-heading {
  background: hsl(45deg, 100%, 50%);
  border-bottom: hsl(45deg, 100%, 40%);
  margin-left: -32px;
  padding: 16px 32px;
  width: fit-content;
  margin-top: -16px;
}

.card p:last-child {
  margin-bottom: 0;
}

/* 
header {
  border-bottom: 8px inset hsl(0deg, 0%, 40%) ;
}



.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
  margin: -24px;
  border-bottom: 8px inset hsl(0deg, 0%, 40%) ;
}


strong {
  color: hsl(160deg, 100%, 30%)
}


@media (min-width: 768px) and (max-width: 1023px) {
  .intro-chunk p {
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  
  .intro-chunk p {
    max-width: 50%;
  }
  
}
  
} */